
.idea/*
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/other.xml
.DS_Store
Project/Skeleton.tex
out/Report_Part_2.aux
out/Report_Part_2.log
out/Report_Part_2.out
out/Report_Part_2.pdf
out/Report_Part_2.synctex.gz
out/Report_Part_2Notes.bib
out/Figures
Project/Part 2/Python Code/Test2.py
