
.idea
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/other.xml
.DS_Store
Project/Skeleton.tex
out/Report_Part_2.aux
out/Report_Part_2.log
out/Report_Part_2.out
out/Report_Part_2.pdf
out/Report_Part_2.synctex.gz
out/Report_Part_2Notes.bib
out/Figures
Project/Part 2/Python Code/Test2.py
Project/Part 2/Python Code/planet_trajectories.npz
/Project/Part 2/Python Code/Planet_Orbits.txt
Project/Part 2/Python Code/Orbits/Planet_0.npz
Project/Part 2/Python Code/Orbits/Planet_1.npz
Project/Part 2/Python Code/Orbits/Planet_2.npz
Project/Part 2/Python Code/Orbits/Planet_3.npz
Project/Part 2/Python Code/Orbits/Planet_4.npz
Project/Part 2/Python Code/Orbits/Planet_5.npz
Project/Part 2/Python Code/Orbits/Planet_6.npz
Project/Part 2/Python Code/Orbits/Planet_7.npz
Project/Part 2/Python Code/XMLs/orbit_video.xml
/out/
/Project/.idea/
out/Report_Part_3.aux
out/Report_Part_3.log
out/Report_Part_3.pdf
out/Report_Part_3.synctex.gz
out/Report_Part_3.synctex.gz
out/Report_Part_3.pdf
out/Report_Part_3.out
out/Report_Part_3.log
out/Report_Part_3.aux
